.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #444;
    width: 65%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .info h3 {
      margin: 0 auto;
      margin-bottom: 1rem;
  }

  .info ul {
     width: 35%;
     margin: 0 auto;
  }

  .term {
      margin-right: 1rem;
  }

  span {
      font-size: 1.1rem;
  }

  i {
      margin-right: .5rem;
  }

